<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%logger{1} - %level] %message %throwable%n}{WARN=yellow, INFO=blue, DEBUG=green, ERROR=red, FATAL=magenta}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${sys:LOG_LEVEL:-INFO}">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
